/* ------------------ */
/* base */
/* ------------------ */
// * {
//   outline: 2px solid blue;
// }

main {
  background-color: #ffffff;
  z-index: 1;
}

@media (max-width: 980px) {
  main {
    padding-top: 0px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}


/* ------------------ */
/* header */
/* ------------------ */

// 作りかえ
.page-title {
  position: relative;
  padding-top: 80px;
  @include mq('md'){
    padding-bottom: 80px;
  }

}
.section_title_blob-r {
    position: absolute;
    width: 300px;
    height: 230px;
    right: 10%;
    top: -43%;
    @include mq('md'){
      z-index: -1;
    }
    @include mq('sp'){
      width: 126px;
      height: 98.34px;
      right: 1%;
      top: 9%;
    }
}


.section_title_blob-l {
 position: absolute;
  width: 297px;
  height: 230px;
   left: 6%;
  top: 32%;
  z-index: -1;
  @include mq('sp'){
    width: 145px;
    height: 112px;
    left: 6%;
    top: 74%;
    z-index:0;
  }
}


/* ------------------ */
/* パンくずリスト */
/* ------------------ */
.breadcrumbs {
  span + span  {
    position: relative;
    margin-left: 36px;
    &::before {
      content: "›";
      position: absolute;
      left: -18px;
    }
  }
}


.breadcrumb *,
.breadcrumb *::before,
.breadcrumb *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.breadcrumb {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  background-color: #ffffff;
  padding-top: 12px;
  // padding-bottom: 130px;
  @include mq('sp'){
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 980px) {
  .breadcrumb {
    font-size: 12px;
    padding-top: 20px;
  }
}

.breadcrumb a {
  text-decoration: none;
  color: #237ee9;
}

.breadcrumb .breadcrumbs {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb li {
  display: inline-block;
  position: relative;
  padding-right: calc(16px + 8px);
  margin-right: 8px;
}

.breadcrumb li::before {
  content: "›";
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  font-size: 1em;
  color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.breadcrumb li:last-child::before {
  content: normal;
}

/* ------------------ */
/* common */
/* ------------------ */

.page-ttl {
  font-size: 44px;
  color: #57b07b;
  text-align: center;
  @include mq("sp") {
    font-size: 28px;
    padding-top: 53px;
    padding-bottom: 61px;
  }
}

.schedule-ttl {
  @include mq("sp") {
    font-size: 28px;
  }
}

@media (max-width: 980px) {
  .pc-words {
    display: none;
  }
  .sp-words {
    display: block;
    margin-bottom: 12px;
  }
}

@media (min-width: 981px) {
  .pc-words {
    display: block;
  }
  .sp-words {
    display: none;
  }
}

@media (max-width: 980px) {
  .table-scroll {
    overflow-x: scroll;
  }
}

@media (max-width: 980px) {
  .schedule-table,
  .traning-table {
    white-space: nowrap;
  }
}

.schedule-thead,
.traning-thead {
  font-size: 18px;
  margin: 8px 24px;
  color: #fff;
  text-align: center;
  background-color: #57b07b;
}

/* ------------------ */
/* about_container */
/* ------------------ */

.about_container {
  margin-bottom: 110px;
  margin-top: 120px;
  @include mq('sp'){
    padding: 0 20px;
    margin-bottom: 50px;
    margin-top: 60px;
  }
}

.about_text {
  font-size: 18px;
  line-height: 2.22;
  margin-bottom: 80px;
  @include mq('sp'){
    line-height: 1.875;
    font-size: 16px;
  }
}

.about_img {
}

/* ------------------ */
/* what we do (wwd) */
/* ------------------ */

.wwd_container {
  background-color: #f1f8ec;
  padding: 110px 40px;
  @include mq('sp'){
    padding: 70px 20px;
  }
}

.wwd-ttl {
  margin-bottom: 56px;
}

.wwd_media {
  @include mq('md'){
    display: flex;
    border-radius: 36px;
    margin-bottom: 50px;
  }
}

.wwd_media_img {
  @include mq('md'){
    flex: 0 1 28.935%;
    > img {
      border-radius: 36px 0 0 36px;
    }
  }
  @include mq('sp'){
    > img {
      border-radius: 34px 34px 0 0;
    }
  }
}

.wwd_media_body {
  @include mq('md'){
    border-radius: 0 36px 36px 0;
    flex: 1;
    background-color: #fff;
    padding: 38px 48px;
  }
  @include mq('sp'){
    background-color: #fff;
    padding: 24px 30px;
    border-radius: 0 0 34px 34px;
    margin-bottom: 24px;
  }
}

.wwd_media_ttl {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  @include mq('sp'){
    text-align: center;
    font-size: 18px;
  }
}

.wwd_media_txt {
  line-height: 1.625;
  font-size: 16px;
  @include mq('sp'){
    font-size: 14px;
  }
}

.wwd_cards_area {
  @include mq('md'){
    display: grid;
    grid-template-columns: repeat(2, 464px);
    gap: 50px;
  }
}

.wwd_card {
  @include mq('sp'){
    & + & {
      margin-top: 24px;
    }
  }
}

.wwd_card_img {
  > img {
    border-radius: 34px 34px 0 0;
  }
}

.wwd_card_body {
  background-color: #fff;
  padding: 14px 40px;
  border-radius: 0 0 34px 34px;
}

.card_body_min {
  height: 130px;
}
.card_body_lg {
  height: 182px;
  @include mq('sp'){
    height: 160px;
  }
}

.wwd_card_ttl {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  @include mq('sp'){
    font-size: 18px;
  }
}

.wwd_card_txt {
  line-height: 1.625;
  @include mq('sp'){
    font-size: 14px;
  }
}

/* ------------------ */
/* overview */
/* ------------------ */

.overview_container {
  padding: 110px 40px;
  @include mq('sp'){
    padding: 70px 20px;
  }
}

/* table01 */
.overview_tbl {
  @include mq('md'){
    max-width: 764px;
  }
  margin: 0 auto;
  margin-top: 32px;
  @include mq('sp'){
    margin-top: 14px;
  }
}

.overview_tbl tr {
  border-bottom: 1px solid #E9E9E9;
}

.overview_tbl th,
.overview_tbl td {
  border: none;
  @include mq('md'){
    height: 0;
  }
}

.overview_tbl  td {

  @include mq('md'){
    padding: 23px 19px 23px 10px;
  }
  @include mq('sp'){
    padding-bottom: 22px;
    padding-top: 4px;
  }
}

.overview_tbl th {
  @include mq('sp'){
    padding-top: 22px;
  }
  @include mq('md'){
    width: 19.3717%;
  }
  font-size: 18px;
  font-weight: 700;
  color: #57b07b;
  text-align-last: left;
}

/* sp */
@media only screen and (max-width: 480px) {
  .overview_tbl th,
  .overview_tbl td {
    width: 100%;
    display: block;
  }

  .overview_tbl th {
    // width: 100%;
  }

  .overview_tbl td {
    // padding-top: 0;
  }
}

.pdf-link {
  text-decoration: underline;
  position: relative;
  display: inline-block;
  &:after {
    display: inline-block;
    content: "";
    background-image: url(../img/pdf_icon.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    width: 25px;
    height: 26.5px;
    z-index: 10;
    margin-left: 5px;
    vertical-align: middle;
  }
}