// // "change_contact
// .change_body {
//   padding: 70px 40px;
//   text-align: center;
// }

// .change_txt {
//   line-height: 2.22;
// }

// .change_contact_link {
//   color: $link-color;
// }

// .change_contact_container {
//   background-color: $main-color;
//   padding: 110px 40px;
// }

// .change_contact_inner {
//   max-width: 664px;
// }

// .h3_ttl {
//   font-size: 36px;
//   font-weight: 700;
//   color: $font-color-main;
//   text-align: center;
// }

// .change_form {
//   margin-top: 60px;
// }

// .change_form_container {
// }

// .change_form_body {
//   margin-bottom: 40px;
//   > label {
//     display: block;
//     font-size: 20px;
//     font-weight: 700;
//     position: relative;
//     margin-bottom: 10px;
//     > span {
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//       display: inline-block;
//       margin-left: 20px;
//       font-size: 14px;
//       color: #ffffff;
//       background-color: #c54f4f;
//       padding: 2px 7px;
//       border-radius: 4px;
//     }
//   }
//   > input {
//     display: inline-block;
//   }
//   > input[type="text"] {
//     width: 100%;
//     height: 54px;
//     border-radius: 6px;
//     border: 1px solid #b1b1b1;
//     font-size: 16px;
//     padding: 15px 20px;
//   }
//   > textarea {
//     width: 100%;
//     height: 218px;
//     border-radius: 6px;
//     border: 1px solid #b1b1b1;
//     font-size: 16px;
//     padding: 15px 20px;
//   }

//   > input[type="radio"] {
//     display: block;
//   }
//   > input[type="checkbox"] {
//     display: none;
//   }
// }


// ::placeholder {
//   color: darkgray;
// }




// // ラジオボタン
// .radio-input{
//   display: none;
// }
// .radio-input + label{
//   padding-left: 35px;
//   position:relative;
//   margin-right: 20px;
//   line-height: 40px;
// }
// .radio-input + label::before{
//   position: absolute;
//   content: ''; //before, afterはこのプロパティが必須。
//   display: block; //横幅・縦幅を指定するため、blockに。
//   border-radius: 50%; //これで形を円形に。
//   border: 1px solid darkgray;
//   width: 24px;
//   height: 24px;
//   top: -2px;
//   background-color: #B1B1B1;
//   background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
// }



// .radio-input:checked + label::after{
//   content: "";
//   display: block;
//   position: absolute;
//   top: 2px;
//   left: 4px;
//   width: 16px;
//   height: 16px;
//   background: $font-color-main;
//   border-radius: 50%;
// }
// // ラジオボタンここまで



// // チェックボックスここから

// .checkbox-text {
//   margin-left: 40px;
//   position:relative;
//   &::before{
//     content: "";
//     display: block;
//     position: absolute;
//     transform: translateX(-40px);
//     top: 0;
//     left: 0;
//     width: 23px;           
//     height: 23px;
//     border: 1px solid darkgray;
//     background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
//     ;
//     border-radius: 6px;
//   }
//   &::after {
//     position: absolute;
//     opacity: 0;
//     top: 2px;
//     left: -32px;
//     display: block;
//     border-right: 2px solid #57B07B;
//     border-bottom: 2px solid #57B07B;
//     content: '';
//     width: 8px;
//     height: 14px;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
  
// }


// .checkbox-input {
//   & :checked {
//     &::after {
//       opacity: 1;
//     }
//   }
  
// }

// .privacy-link{
//   color: $link-color;
// }

// // チェックボックスここまで


// .change_submit {
//   text-align: center;
//   margin-top: 80px;
// }

// .change_submit_text {
//   margin-bottom: 20px;
// }

// //送信ボタンここから
// .change_submit_button {
//   display: inline-block;
//   width: 368px;
//   max-width: 100%;
//   padding: 23.5px 20px;
//   border: currentColor;
//   background-color: $font-color-main;
//   border-radius: 10px;
//   color: #ffffff;
//   text-align: center;
//   font-size: 22px;
//   font-weight: 700;
//   &:hover {
//     opacity: 0.8;
//     transition: ease 0.5s;
//     .change-arrow-white {
//       background-color: #fff;
//       transition: ease 0.5s;
//       &::before {
//         border-top: solid 1px $font-color-main;
//         border-right: solid 1px $font-color-main;
//       }
//       &::after {
//         transition: ease 0.5s;
//         background-color: $font-color-main;
//       }
//     }
//   }
// }

// .chenge_button-white {
//   font-size: 22px;
//   color: $font-color-white;
//   font-weight: 700; 
//   display: inline-block;
//   height: 29px;
//   width: 100%;
// }


// .change-arrow-white {
//   position: relative;
//   display: block;
//   transform: translateY(-100%);
//   // right: -160%;
//   border-radius: 40px;
//   width: 40px;
//   height: 40px;
//   border: 1px solid $font-color-white;
//   margin-left: auto;
  
//   &:before {
//     content: '';
//     position: absolute;
//     right: 12px;
//     top: 16.5px;
//     width: 8px;
//     height: 8px;
//     border-top: solid 1px currentColor;
//     border-right: solid 1px currentColor;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
  
//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     margin-left: 15.5px;
//     margin-top: 20px;
//     width: 12px;
//     height: 1px;
//     background-color: $font-color-white;
//   }
// }
// //送信ボタンここまで




// //送信ボタン作り替えここから
// .change_submit_button2 {
//   display: inline-block;
//   // padding: 23.5px 20px;
//   border: currentColor;
//   background-color: $font-color-main;
//   border-radius: 10px;
//   color: #ffffff;
//   text-align: center;
//   font-size: 22px;
//   font-weight: 700;
//   &:hover {
//     opacity: 0.8;
//     transition: ease 0.5s;
//     .change-arrow-white {
//       background-color: #fff;
//       transition: ease 0.5s;
//       &::before {
//         border-top: solid 1px $font-color-main;
//         border-right: solid 1px $font-color-main;
//       }
//       &::after {
//         transition: ease 0.5s;
//         background-color: $font-color-main;
//       }
//     }
//   }
// }

// .chenge_button-white2 {
// }

// .change_submit_input {
//   font-size: 22px;
//   color: $font-color-white;
//   font-weight: 700; 
//   display: inline-block;
//   height: 29px;
//   width: 100%;
//   background-color: $font-color-main;
//   border: none;
//   width: 368px;
//   max-width: 100%;
//   top: 50%;
// }


// .change-arrow-white2{
//   position: relative;
//   display: block;
//   transform: translateY(-100%);
//   // right: -160%;
//   border-radius: 40px;
//   width: 40px;
//   height: 40px;
//   border: 1px solid $font-color-white;
//   margin-left: auto;
  
//   &:before {
//     content: '';
//     position: absolute;
//     right: 12px;
//     top: 16.5px;
//     width: 8px;
//     height: 8px;
//     border-top: solid 1px currentColor;
//     border-right: solid 1px currentColor;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
  
//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     margin-left: 15.5px;
//     margin-top: 20px;
//     width: 12px;
//     height: 1px;
//     background-color: $font-color-white;
//   }
// }
// //送信ボタンここまで


