
/* ------------------ */
/* law_container
/* ------------------ */
.law_container {
  margin-bottom: 83px;
  margin-top: 110px;
}

@media (max-width: 980px) {
  .law_container {
    padding: 0 20px;
    margin-bottom: 50px;
    margin-top: 60px;
  }
}

.law_section + .law_section {
  margin-top: 60px;
}

.law_section_ttl {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 16px;
}

.law_section_txt {
  font-size: 14px;
  line-height: 2;
}

.law-link {
  color: #237ee9;
}
