/* ------------------ */
/* news */
/* ------------------ */
.news-inner {
  max-width: 980px;
  margin: 0 auto;
  @include mq("sp") {
    padding: 0 20px;
  }
}

.news-list {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  @include mq("sp") {
    margin-top: 42px;
  }

}

.news-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  width: 313px;
  height: 75px;
  left: 230px;
  top: 470px;
  padding: 24px 21px 11.5px;
  border-radius: 16px 16px 0px 0px;
  background-color: #57b07b;
  color: #fff;
  >a {
    color: #fff;
  }
}

@media (max-width: 980px) {
  .news-item {
    width: 32%;
    height: 51px;
    left: 228px;
    top: 0px;
    padding: 20.31px 14.83px 15.07px 20.69px;
    font-size: 14px;
  }
  .news-item_is-sp {
    width: 32%;
    height: 51px;
    left: 228px;
    top: 0px;
    padding: 20.31px 14.83px 15.07px 20.69px;
    font-size: 14px;
  }
}



/* ------------------ */
/* ※デザイン確認の目的のため、後にjQueryで実装  */
/* ------------------ */
.news-item_text {
  color: #fff;
}

.training_container {
  width: 980px;
  padding: 58px 93px;
  margin: 0 auto;
  background: #f1f8ec;
  @include mq("md") {
    margin-bottom: 157px;
  }
}

@media (max-width: 980px) {
  .training_container {
    width: 100%;
    padding: 30px 27px;
  }
}

.training-info-list {
  display: none;
  // left: 230px;
  // top: 545px;
  border-radius: 0px 0px 16px 16px;
  padding-left: 93px;
  padding-right: 93px;
}

@media (max-width: 980px) {
  .training-info-list {
    display: none;
    padding: 30px 27px 0px 27px;
    gap: 10px;
    // width: 362px;
    // height: 1300px;
  }
}

// .training-info-item {
//   display: none;
// }

.Content__isActive {
  display: block;
}

.training-date {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #57b07b;
  margin-bottom: 14px;
}

@media (max-width: 980px) {
  .training-date {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.training-date:nth-of-type(1) {
  padding-top: 42px;
}

.training-date + a {
  font-size: 20px;
  line-height: 30px;
  color: #237ee9;
  text-decoration: underline;
}

@media (max-width: 980px) {
  .training-date + a {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.training-content {
  font-size: 16px;
  line-height: 30px;
  margin-top: 14px;
  padding-bottom: 34px;
  border-bottom: 1px solid #57b07b;
}

@media (max-width: 980px) {
  .training-content {
    font-size: 14px;
    padding-bottom: 28px;
  }
}

.pagination-list {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  gap: 14px;
  @include mq('sp'){
    gap: 10px;
  }
}

@media (max-width: 980px) {
  .pagination-list {
    // width: 362px;
    padding-top: 28px;
  }
}

.pagination-item {
  text-align: center;
  margin: 0 2px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background: #fff;
  border-radius: 50px;
  border: solid 1px #57b07b;
}

@media (max-width: 980px) {
  .pagination-item {
    width: 34px;
    height: 34px;
    padding-top: 5px;
    font-size: 14px;
  }
}

.pagination-item:hover {
  border: solid 1px #57b07b;
  background: #57b07b;
  cursor: pointer;
  z-index: 5;
  transition: ease 0.5s;
}

.pagination-item:hover .pagination-item_link + span {
  color: #ffffff;
  transition: ease 0.5s;
}

@media (max-width: 980px) {
  .pagination-item:nth-of-type(3) {
    padding-top: 6px;
  }
}

.pagination-item:nth-of-type(5) {
  padding-top: 12px;
}

@media (max-width: 980px) {
  .pagination-item:nth-of-type(5) {
    padding-top: 6px;
  }
}

.pagination-item_link + span {
  color: #57b07b;
}

@media (max-width: 980px) {
  .pagination-list.is-pc {
    display: none;
  }
}

@media (min-width: 981px) {
  .pagination-list.is-sp {
    display: none;
  }
}

.news-list_is-sp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 74px;
  // padding-top: 38px;
  // gap: 20px;
}

@media (min-width: 981px) {
  .news-list_is-sp {
    display: none;
  }
}

.news-item_is-sp {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  // width: 107px;
  height: 51px;
  left: 228px;
  top: 0px;
  padding: 20.31px 14.83px 15.07px 20.69px;
  font-size: 14px;
  border-radius: 0px 0px 16px 16px;
  background: $font-color-main;
  color: #fff;
}




/* ------------------ */
/* ページネーション */
/* ------------------ */
.pagination{
   margin:40px 0 0;
}
.nav-links{
   display:flex;
   gap: 14px;
}
.pagination .page-numbers{
  text-align: center;
  margin: 0 2px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background: #fff;
  border-radius: 50px;
  border: solid 1px #57b07b;
  color: #57b07b;
  @include mq('sp'){
    width: 34px;
    height: 34px;
    font-size: 14px;
    background: #fff;
    border-radius: 34px;
    line-height: 14px;
  }
  &:hover {
    border: solid 1px #57b07b;
    background: #57b07b;
    cursor: pointer;
    z-index: 5;
    transition: ease 0.5s;
    color: #fff;
  }
}
.pagination .current{
  text-align: center;
  margin: 0 2px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background: #57b07b;
  border-radius: 50px;
  border: solid 1px #57b07b;
  color: #fff;
  @include mq('sp'){
    width: 34px;
    height: 34px;
    font-size: 14px;
    border-radius: 34px;
    line-height: 14px;
  }
}

.pagination .dots{
    box-shadow:none;
  line-height: 18px;
  // &:hover {
  //   text-align: center;
  //   margin: 0 2px;
  //   padding-top: 10px;
  //   width: 50px;
  //   height: 50px;
  //   font-size: 18px;
  //   background: #fff;
  //   border-radius: 50px;
  //   border: solid 1px #57b07b;
  //   color: #57b07b;
  //   cursor: default;
  // }
  @include mq('sp'){
    width: 34px;
    height: 34px;
    font-size: 14px;
    background: #fff;
    border-radius: 34px;
    line-height: 7px;
  }
}

 .pagination .next {
  content: "";
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  @include mq('sp'){
    width: 34px;
    height: 34px;
    font-size: 14px;
    background: #fff;
    border-radius: 34px;
    line-height: 14px;
  }
  &::before,
  &::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  &::before {
    left: 19px;
    width: 15px;
    height: 1px;
    background: #7a0;
    @include mq('sp'){
      left: 9px;
    }
  }
  &::after {
    left: 24px;
    width: 9px;
    height: 9px;
    border-top: 1px solid #7a0;
    border-right: 1px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    @include mq('sp'){
      left: 14px;
    }
  }
    text-align: center;
    margin: 0 2px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    background: #fff;
    border-radius: 50px;
    border: solid 1px #57b07b;
    color: #57b07b;
    transition: ease 0.5s;
    &:hover {
      &::before{
        background-color: #fff;
      }
      &::after {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }
}

.pagination .prev {
  content: "";
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  @include mq('sp'){
    width: 34px;
    height: 34px;
    font-size: 14px;
    background: #fff;
    border-radius: 34px;
    line-height: 14px;
  }
  &::before,
  &::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  &::before {
    left: 19px;
    width: 15px;
    height: 1px;
    background: #7a0;
    @include mq('sp'){
      left: 10px;
    }
  }
  &::after {
    left: 20px;
    width: 9px;
    height: 9px;
    border-top: 1px solid #7a0;
    border-right: 1px solid #7a0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    @include mq('sp'){
      left: 10px;
    }
  }
    text-align: center;
    margin: 0 2px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    background: #fff;
    border-radius: 50px;
    border: solid 1px #57b07b;
    color: #57b07b;
    transition: ease 0.5s;
    &:hover {
      &::before{
        background-color: #fff;
      }
      &::after {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }
}

.Tab__isActive {
  background-color: #f1f8ec;
  color: $font-color-black;
  >a {
    color: $font-color-black;
  }
}