/* ------------------ */
/* reference */
/* ------------------ */

.reference_container {
  width: 100%;
  padding:80px 40px 110px 40px;
  text-align: center;
  @include mq('sp'){
    padding:40px 20px 80px 20px;
  }
}

@media (max-width: 980px) {
  .reference_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.reference-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 0px;
  gap: 16px;
  width: 764px;
  height: 251px;
  background: #f1f8ec;
  border-radius: 34px;
}

@media (max-width: 980px) {
  .reference-content {
    width: 335px;
    height: 251px;
    left: 20px;
    top: 308px;
  }
}

.password-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 980px) {
  .password-description {
    font-size: 16px;
  }
}

.password-input {
  box-sizing: border-box;
  width: 356px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
}

@media (max-width: 980px) {
  .password-input {
    width: 253px;
    height: 54px;
  }
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  width: 158px;
  height: 54px;
  background: #57b07b;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  cursor: pointer;
}

@media (max-width: 980px) {
  .submit-button {
    font-size: 18px;
    line-height: 27px;
    width: 135px;
    height: 46px;
  }
}

.reference_container a {
  text-decoration: underline;
  color: #237ee9;
}

@media (max-width: 980px) {
  .reference_container a {
    text-decoration: none;
  }
}

.content-description {
  width: 764px;
  text-align: left;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .content-description {
    width: 333px;
    height: 270px;
    left: 20px;
    top: 587px;
  }
}


.reference_container {
  display: block;
}